body {
	font-family: 'Kiwi Maru', 'serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
	width: 10%;
	transform:scaleX(-1);
}

.grid-container {
	display: grid; 
}


.footer-nav {
	display: flex;
	flex-direction: column;
}